<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Добавление статьи</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
<body class="bg-light">
<div th:insert="blocks/header :: header"></div>
<div class="container">
    <main>
        <br>
        <br>
        <div>
            <h4 class="mb-3">Создание блога</h4>
            <form class="needs-validation" novalidate="" th:action="@{/blog/addPost}" method="post">
                <!--Для обновления,а не сохранения нового обьекта в базе данных-->
                <input type="hidden" th:value="${post.id}" required="false" name="id"/>

                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="title" class="form-label">Заголовок:</label>
                        <input name="title" type="text" class="form-control" id="title" placeholder="Название статьи"
                               th:value="${post.title}" required="" minlength="5" maxlength="100">
                    </div>

                    <div class="form-group">
                        <label for="fulltext">Анонс:</label>
                        <textarea name="anons" class="form-control" id="anons" rows="3"
                                  placeholder="Кратко о чем ты хочешь написать" required="" minlength="20"
                                  maxlength="300" th:field="${post.anons}"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="fullText">Содержимое:</label>
                        <textarea name="fullText" class="form-control" id="fulltext" rows="10"
                                  placeholder="Расскажи что-нибудь интересное" required="" minlength="20"
                                  th:field="${post.fullText}"></textarea>
                    </div>
                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg" type="submit">Добавить статью</button>
            </form>
        </div>
    </main>

</div>

<script src="form-validation.js"></script>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>